body {
      line-height: 1.8;
      color: #f5f6f7;
}

.bg-dark { 
    background-color: #555555; /* Dark grey */
    color: #ffffff;
}
.bg-white { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 18px;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}
