body {
      line-height: 1.8;
      color: #f5f6f7;
}
.bg-dark { 
    background-color: #555555; /* Dark grey */
    color: #ffffff;
}
.bg-white { 
    background-color: #ffffff; /* White */
    color: #555555;
}
.container-fluid {
      padding-top: 30px;
      padding-bottom: 30px;
}
.container-navbar {
      padding-top: 0px;
      padding-bottom: 0px;
}
.page-heading-container {
	padding-top: 70px;
}
.home-container {
	min-height: 100vh;
	padding-top: 30px;
	font-size: 20px;
	line-height: 1.4;
	display: flex;
	font-family: Montserrat, sans-serif;
}
.main-container {
	min-height: 100vh;
	padding-top: 30px;
}
.home-container .glyphicon {
    font-size: 120px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 30px;
}
.home-container a {
	color: #555555;
}
.home-container a:hover {
  color: #000000 !important;
  text-decoration: none;
}
.navbar {
	margin-bottom: 0;
	background-color: #ffffff;
	z-index: 9999;
	border: 0;
	font-size: 18px !important;
	line-height: 1.42857143 !important;
	letter-spacing: 1px;
	border-radius: 0;
	font-family: Montserrat, sans-serif;
}
.navbar-nav  li a:hover {
  color: #1abc9c !important;
}

.navbar-nav li.active a {
	color: #000000 !important;
	background-color: #ffffff !important;
}

/*
* This bit of CSS forces the Navbar to collapse to 3 stripes at a particular window width.
* Otherwise, the links in the Navbar sometimes get wrapped into two lines
*/
@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
